__pycache__/
*.pyc
*.pyo
.pytest_cache/

!*.actual.log

tmp/

# Python virtual environment
.venv/

# Working data
data_working/

.yaml-templates/

data/dataset_4_GSMA/container/test_plan.md

# ApprovalTests - ignore received files
*.received.txt

# Exported data files
exported_*.json
