1 Introduction
1.1 Overview
The main aim of the GSMA Remote SIM Provisioning specifications [2] & [3] is to provide
solution for the Remote SIM Provisioning of Consumer Devices. The adoption of this
technical solution will provide the basis for global interoperability between different Operator
deployment scenarios, for example network equipment (e.g. Subscription Manager Data
Preparation (SM-DP+)) and various eUICC platforms.
This Test Plan provides a set of test cases to be used for testing the eUICC implementations
related to the provisioning system specifications documents [2] & [3]. This document offers
an unified test strategy for checking the eUICC component.

{{ container.date }}


1.6 Conventions
The key words "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", and "MAY" in this
document SHALL be interpreted as described in RFC 2119 [20].

# Test Plan

{{ read_file('test_plan.md') }}

(C) GSMA 2024. All rights reserved.
